* {
  margin: 0;
  padding: 0;
  color: #6c6b6b;
}


header {
  background-color: #FF9A4B;
  height: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.boxes {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.box1 {
  width: 300px;
  height: 300px;
  background-color: #EEEEEE;
}

.img1 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: center;
  background-size: 280px 150px;
  border: 10px solid #EEEEEE;
}

.img2 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: center;
  background-size: 280px 150px;
  border: 10px solid #EEEEEE;
}

.img3 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: center;
  background-size: 280px 150px;
  border: 10px solid #EEEEEE;
}

.box3 {
  width: 48px;
  height: 25px;
  margin-top: -10px;
  margin-left: -10px;
  background-color: #FF9A4B;

}

.text {
  width: 300px;
  height: 130px;
  background-color: #EEEEEE;
}

h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

p {
  font-size: small;
  padding-right: 5px;
  padding-left: 5px;
}

span {
  color: white;
}

footer {
  background-color: #AAAAAA;
  margin-top: 50px;
  height: 50px;
  width: 100%;
}